
        .row{
            background-color: lightpink;
            font-family: san-serif; 
        }
       
        /* .container-fluid{
            background-color: pink;
        } */
        /* Other styles */
       .title{
        background-color: lightblue;
        }

        .content{
         background-color: lightsalmon;
        }